
  <%= form_tag(search_page_path, :method => "get",   
      class: 'navbar-form navbar-left') do %>  
    <div class="input-group">  
      <%= search_field_tag :uname, params[:uname], placeholder: "username", class: "form-control",required: true %>  
      <div class="input-group-btn">  
        <%= button_tag "submit", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
      </div>  
    </div>  
  <% end %>
<% if @user %>
Events byuser: <%= @user.login %> (<%= @user.id %>)
 <%= image_tag @user.avatar_url, class: "img-fluid" %>
  <hr>
 
<% for @event in @events %>
  Actor: <%= @event.actor.login %> -
  ID:<%= @event.id %> -
  Type:<%= @event.type %> -
  Repo:<%= @event.repo %> -
  Date:<%= @event.created_at %> 
  <hr>
<% end %>

<% end %>